<div class="editor-container-main">
  <div class="editor-header">
    <nz-select
      [(ngModel)]="formData.language_id"
      class="select-language"
      (ngModelChange)="onChangeLanguage(formData.language_id)"
    >
      <nz-option
        *ngFor="let lang of language"
        [nzValue]="lang.id"
        [nzLabel]="lang.name"
      ></nz-option>
    </nz-select>

    <nz-select
      [(ngModel)]="editorOptions.theme"
      (ngModelChange)="onChangeTheme(editorOptions.theme)"
    >
      <nz-option
        *ngFor="let theme of listTheme"
        [nzValue]="theme.value"
        [nzLabel]="theme.label"
      ></nz-option>
    </nz-select>
  </div>
  <div class="editor-content">
    <div class="editor">
      <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="code"
      ></ngx-monaco-editor>
    </div>

    <div class="edit-result">
      <div class="output-title">Input</div>
      <textarea class="input-content" rows="4" [(ngModel)]="textInput">
      </textarea>
      <div class="output-title">Output</div>
      <div class="output-content">{{ textOutput }}</div>
      <button nz-button class="btn-compiler" (click)="compareAndExecute()">
        Compile and Execute
      </button>
      <div class="compiler-infor">
        <div>
          <div>Status: {{ inforCompiler?.status }}</div>
          <div>Memory: {{ inforCompiler?.memory }}</div>
          <div>Time: {{ inforCompiler?.time }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
