<div class="editor-container-main">
  <div class="editor-header">
    <nz-select [(ngModel)]="editorOptions.language" class="select-language">
      <nz-option
        *ngFor="let lang of language"
        [nzValue]="lang.value"
        [nzLabel]="lang.label"
      ></nz-option>
    </nz-select>

    <nz-select>
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="editor-content">
    <div class="editor">
      <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="code"
      ></ngx-monaco-editor>
    </div>

    <div class="edit-result">
      <div class="output-title">Out put</div>
      <div class="output-content"></div>
      <button nz-button class="btn-compiler">Compile and Execute</button>
      <div class="compiler-infor">
        <div>
          <div>Status:</div>
          <div>Memory:</div>
          <div>Time:</div>
        </div>
      </div>
    </div>
  </div>
</div>
